* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: calc(16px + 1vw);
  line-height: calc(1.5 + 0.1vw);
}

main {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}

.sprite_container {
  padding-top: 15vh; /* Adjust the top padding as needed */
  padding-bottom: 15vh; /* Adjust the bottom padding as needed */
  overflow: hidden;
}

.pattern-background {
  width: 100%;
  height: 5vw; /* Adjusted to a percentage of the viewport width */
  background: url("img/svg/SVG/fullcurve.svg");
  background-repeat: repeat-x; /* Ensure the pattern repeats along the x-axis */
  background-size: auto 100%; /* Adjusted to auto for the x-axis and 100% for the y-axis */
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

.float-right {
  max-width: calc(50% - 10px); /* Adjust the width as needed */
  max-height: 200px; /* Set a max-height for the container */
  overflow-x: scroll; /* Changed to scroll for horizontal scrollbar */
  white-space: nowrap;
}

.scroll {
  max-width: calc(100% - 10px); /* Adjust the width as needed */
  height: auto; /* Set a max-height for the container */
  overflow-x: scroll; /* Changed to scroll for horizontal scrollbar */
  white-space: nowrap;
}

.scroll {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks to keep items in a single line */
}

.scroll img {
  width: auto; /* Set a fixed width for the images */
  max-height: 1000px; /* Set a fixed height for the images */
  margin-right: 5px; /* Adjust the margin as needed */
  display: inline-block; /* Display images in a single line */
}

@media only screen and (min-width: 701px) {
  .left-right {
    display: flex;
    flex-direction: row;
  }

  .right,
  .left {
    flex: 1;
    max-width: 50%; /* Each takes up half of the screen */
  }

  .right {
    order: 2; /* Set the order to 2, making it appear on the right */
  }
}

.pleasant {
  max-width: 400px;
  padding-bottom: 50px;
}

h2 {
  margin-top: 40px;
}

.pad {
  margin-bottom: 60px;
}

p {
  padding-left: 10px;
}
