* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
h1 {
  font-size: 3vw;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 2vw;
  padding-left: 30px;
  padding-bottom: 20px;
  font-family: "Fira Sans", sans-serif;
  padding-top: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

h3 {
  font-size: 1vw;
  font-style: italic;
  font-weight: 200;
  font-family: "Fira Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 60px;
}

body {
  background-color: #d2d8da;
}
/***** background-color: #d2e5e5;*****/

.pad {
  margin-bottom: 60px;
}

.forsidebillede {
  padding: 20px;
  max-width: 1600px;
}
