* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}

h1 {
  font-size: 3vw;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 2vw;
  padding-bottom: 30px;
  font-family: "Fira Sans", sans-serif;
  padding-top: 30px;
  font-weight: 600;
}

h3 {
  font-size: 1.8vw;
  font-style: italic;
  font-weight: 200;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 30px;
  padding-top: 30px;
}

p {
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

li {
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 30px;
}

body {
  background-color: #d2d8da;
}

.pad {
  margin-bottom: 60px;
}

.forsidebillede {
  padding: 20px;
  max-width: 1600px;
}

.left p,
h2,
h3 {
  padding-right: 50px;
  padding-left: 20px;
}

.right p,
h2,
h3 {
  padding-left: 50px;
  padding-right: 20px;
}

.left-pad {
  padding-left: 20px;
  padding-right: 10px;
}

.left-padding {
  padding-left: 55px;
}

.elongated_text {
  padding: 25px;
}

.top-pad {
  padding-top: 80px;
}

.lys_linkknap {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  color: #111;
  border-radius: 100px;
  background-color: #fff;
  height: 40px;
  width: 160px;
}

.linkknap:hover,
.lys_linkknap:hover {
  transition: box-shadow 0.1s linear;
  opacity: 0.5;
  cursor: pointer;
}

.button-pad {
  padding-left: 50px;
}

.space {
  margin-left: 15px;
}
